body {
    background-image: url(casino-background.jpg);
    background-size: 150%;
    overflow: hidden;
    text-align: center;
}

.table {
    position: relative;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    background-color: rgb(3, 85, 44);
    width: 1000px;
    height: 500px;
    border-radius: 700px;
    border: 10px solid brown;
}

.dealer-name {
    position: relative;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 30%;
    border-radius: 20px;
}

.dealer {
    text-align: center;
    position: relative;
    top: 25px;
}

.deck {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 10%;
}

.deck-img {
    width: 70px;
}

button {
    width: 150px;
}

button:hover{
    border: 3px solid white;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.button-hit {
    background-color: green;
    border: 3px solid darkgreen;
    border-radius: 20px;
}

.button-stand {
    background-color: red;
    border: 3px solid darkred;
    border-radius: 20px;
}

.button-new {
    background-color: yellow;
    border: 3px solid orange;
    border-radius: 20px;
    display: none;
}

.buttons-centerer {
    display: flex;
    justify-content: center;
}

.dealer-hand {
    height: 101px;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.player-hand {
    height: 101px;
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card{
    width: 70px;
}
.card-img{
    animation: draw 3.0s;
    width: 80px;
}
.card-img-2{
    animation: draw2 3.0s;
    width: 80px;
}
.player-status{
    position: absolute;
    top: 90%;
    left: calc(50% - 50px);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100px;
    font-size: xx-large;
    border-radius: 20px;
    border: 3px solid brown;
    height: 40px;
}
.dealer-status{
    position: absolute;
    top: 5%;
    left: calc(50% - 50px);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100px;
    font-size: xx-large;
    border-radius: 20px;
    border: 3px solid brown;
    height: 40px;
}
.dealer-points{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid brown;
    text-align: center;
    font-size: xx-large;
}
.player-points{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 75%;
    left: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid brown;
    text-align: center;
    font-size: xx-large;
}

.player-money{
    background-color: white;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    border: 3px solid brown;
    position: relative;
    top: calc(50% - 40px);
    left: 5%;
    font-size: xx-large;
}
@keyframes draw{
    0%{
        position: absolute;
        top: 112%;
        left: 76%;
    }
    50%{
        position: relative;
        top: 10%;
        left: 10%;
    }
    100%{
        position: relative;
        top: 0;
        left: 0;
    }
}
@keyframes draw2{
    0%{
        position: absolute;
        top: -135%;
        left: 76%;

    }
    50%{
        position: relative;
        top: -10%;
        left: 10%;
    }
    100%{
        position: relative;
        top: 0;
        left: 0;
    }
}
