body {
  background-image: url("PingPong-hatter.jpg");
  background-size: 100%;
}

#jatekTartalom {
    text-align: center;
  }
  
  #jatekTer {
    border: 3px solid black;
  }
  
  #pontszamSzoveg {
    font-family: "Consolas", monospace;
    font-size: 30px;
    margin: 10px 0;
  }
  
  button {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  a{
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    color: black;
    font-size: xx-large;
    position: absolute;
    left: 10px;
    top: 10px;
}
a:hover{
    text-decoration: underline;
}